<div class="MainWrapper WorkingField">
<!--  <div class="movable isWorkingArea button" style="border: 1px dashed black; position: absolute; left: 694.514px; top: 265.611px;">-->
<!--    <div class="resizer ne" (mousedown)="resizeComponentService.resizeComponent($event)"></div>-->
<!--    <div class="resizer nw" (mousedown)="resizeComponentService.resizeComponent($event)"></div>-->
<!--    <div class="resizer sw" (mousedown)="resizeComponentService.resizeComponent($event)"></div>-->
<!--    <div class="resizer se" (mousedown)="resizeComponentService.resizeComponent($event)"></div>-->
<!--    <button style="width: 100%; height: 100%; z-index: -1">Button</button>-->
<!--  </div>-->
</div>
