<form [formGroup]="footerForm">
  <div class="footer">
    <div class="info-btn">
      <button title="{{'title.info' | translate}}" (click)="openDialogInfo()">
        <i class="fa-solid fa-info fa-la"></i>
      </button>
    </div>
    <div class="parse-to-pdf-btn">
      <button
        title="{{'title.parseToPdf' | translate}}"
        (click)="toPDF()">
        <i class="fa-regular fa-file-pdf fa-la"></i>
      </button>
    </div>
    <div class="localization">
      <select formControlName="language" title="{{'title.localization' | translate}}">
        <option value="en">EN</option>
        <option value="ru">RU</option>
      </select>
    </div>
    <div class="page-setting">
      <select formControlName="listPage" (click)="this.pageService.scrolledPage = true">
        <option
          [value]="this.pageService.getIndexPage(page)"
          *ngFor="let page of this.pageService.getAllPages()"
        >
          {{'footer.page' | translate}} {{this.pageService.getIndexPage(page)}}
        </option>
      </select>
      <button title="{{'title.newPage' | translate}}" (click)="createNewPage()">
        <i class="fa-solid fa-plus fa-la"></i></button>
    </div>
  </div>
</form>
