<button class="btn-close" (click)="closePanel()">
  <i class="fa-solid fa-x"></i>
</button>

<form *ngIf="propertiesData" [formGroup]="editComponentForm">
  <div>
    <ul>
      <li *ngIf="getStyle('textContent')">
        <p>Text Content</p>
        <input formControlName="textContent" type="text">
      </li>
      <li *ngIf="getStyle('fontSize')">
        <p>Font Size</p>
        <input formControlName="fontSize" type="text">
      </li>
      <li *ngIf="getStyle('fontFamily')">
        <p>Font Family</p>
        <select formControlName="fontFamily">
          <option value="Arial, sans-serif">Arial</option>
          <option value="Courier, monospace">Courier</option>
          <option value="Times, Times New Roman, serif">Times</option>
        </select>
      </li>
      <li *ngIf="getStyle('textModification')">
        <p>Bold</p>
        <input formControlName="fontWeight" type="checkbox">
        <p>Cursive</p>
        <input formControlName="fontStyle" type="checkbox">
        <p>Underlined</p>
        <input formControlName="textDecoration" type="checkbox">
      </li>
      <li *ngIf="getStyle('color')">
        <p>Color Text</p>
        <input formControlName="color" type="color" value="#000000">
      </li>
      <li *ngIf="getStyle('backgroundColor')">
        <p>Background Color</p>
        <input formControlName="backgroundColor" type="color" value="#efb0f2">
      </li>
      <li *ngIf="getStyle('border')">
        <p>Border</p>
        <input formControlName="border" type="text">
      </li>
      <li *ngIf="getStyle('borderRadius')">
        <p>Border Radius</p>
        <input formControlName="borderRadius" type="text">
      </li>
      <li *ngIf="getStyle('displayResize')">
        <p>Display Resize</p>
        <input formControlName="displayResize" type="checkbox">
      </li>
      <li *ngIf="getStyle('placeholder')">
        <p>Placeholder</p>
        <input formControlName="placeholder" type="text">
      </li>
      <li *ngIf="getStyle('optionModification')">
        <p>Add option select</p>
        <input formControlName="nameOption" type="text" class="input-option">
        <button (click)="addOptionSelect()" class="input-btn">+</button>
        <p>Delete option select</p>
        <select formControlName="selectOptionDelete" class="delete-option">
          <option value="{{option}}" *ngFor="let option of this.propertiesData['selectOption']">
            {{option}}
          </option>
        </select>
        <button (click)="deleteOptionSelect()" class="input-btn">+</button>
      </li>
      <li *ngIf="getStyle('AltSrcImage')">
        <p>Alt image</p>
        <input formControlName="altImage" type="text">
        <label class="custom-file-update">
          <input type="file" accept="image/*" (change)="imagePreview($event)" class="input-file">Update image</label>
      </li>
    </ul>
  </div>
</form>
