<form *ngIf="propertiesData" [formGroup]="editComponentForm">
  <div>
    <ul>
      <li><p>Text Content</p><input formControlName="textContent" type="text"></li>
      <li><p>Font Size</p><input formControlName="fontSize" type="text"></li>
      <li><p>Color Text</p><input formControlName="color" type="color"></li>
      <li><p>Background Color</p><input formControlName="backgroundColor" type="color"></li>
      <li><p>Border</p><input formControlName="border" type="text"></li>
      <li><p>Border Radius</p><input formControlName="borderRadius" type="text"></li>
      <li><p>Display Resize</p><input formControlName="displayResize" type="checkbox"></li>
    </ul>
  </div>
</form>
