ul {
  margin-bottom: 20px;
}

ul li {
  text-align: center;
}

p {
  margin-bottom: 0;
  padding-top: 15px;
}

.input-option {
  width: 60%;
}

.input-btn {
  margin-left: 1em;
  border: 1px solid #2C3740;
  border-radius: 50%;
}

.delete-option {
  width: 65%;
  margin: 0;
}

.input-file {
  display: none;
}

.custom-file-update {
  margin-top: 1.5em;
  border: 1px solid #2C3740;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

