ul {
  margin-bottom: 20px;
}

ul li {
  text-align: center;
}

p {
  margin-bottom: 0;
  padding-top: 15px;
}

.input-option {
  width: 60%;
}

.input-btn {
  margin-left: 1em;
  border: 1px solid #2C3740;
  border-radius: 50%;
  text-align: center;
}

.delete-option {
  width: 65%;
  margin: 0;
}

.input-file {
  display: none;
}

.custom-file-update {
  margin-top: 1.5em;
  border: 1px solid #2C3740;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-close {
  width: 100%;
  height: 25px;
}

.arrow {
  margin: 2em 1em;
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border-top: 5px solid white;
  border-right: 5px solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;

  &.right {
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }

  &:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
  }
}


