<div
  (mousedown)="setData()"
  class="mainWrapperInput"
  [clickOutsideEvents]="'mouseup'"
  (clickOutside)="clickOutside()"
  [exclude]="this.propertyService.excludeClickOutside"
  [excludeBeforeClick] = 'true'
>
  <div *ngIf="this.displayResize" class="resizer ne" (mousedown)="resizeComponent($event)"></div>
  <div *ngIf="this.displayResize" class="resizer nw" (mousedown)="resizeComponent($event)"></div>
  <div *ngIf="this.displayResize" class="resizer sw" (mousedown)="resizeComponent($event)"></div>
  <div *ngIf="this.displayResize" class="resizer se" (mousedown)="resizeComponent($event)"></div>
  <input [style]="getStyle()"
         placeholder="{{ this.propertiesData.placeholder }}"
         value="{{ this.propertiesData.textContent }}"
         class="focus"
         type="text"
  >
</div>
