.context-menu {
  position: absolute;
  z-index: 20;
}

.menu {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #f1f3f7;
  border-radius: 10px;
  padding: 10px 0;
}

.menu > li > a {
  font: inherit;
  border: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.menu > li > a:hover {
  background: #f1f3f7;
  color: #4b00ff;
}

.menu > li.trash > a:hover {
  color: red;
}
