app-element-area {
  display: inline-block;
  width: 20%;
  float: left;
}

app-working-field {
  display: inline-block;
  width: 80%;
  float: right
}

app-properties {
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 20px;
  z-index: 20;
  transition: 0.5s;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
