<app-element-area
  (mousedown)="mouseClickEventComponent($event)"
></app-element-area>
<app-working-field (click)="mouseDown()"
></app-working-field>
<app-properties id="propertiesPanel"></app-properties>
<div class="footer">
  <div class="info-btn">
    <button title="info" (click)="openDialogInfo()">
      <i class="fa-solid fa-info fa-la"></i>
    </button>
  </div>
  <div class="page-setting">
    <button title="new page" (click)="createNewPage()">
      <i class="fa-solid fa-plus fa-la"></i></button>
  </div>
</div>
