app-element-area {
  display: inline-block;
  width: 20%;
  float: left;
}

app-working-field {
  display: inline-block;
  width: 80%;
  float: right
}

app-properties {
  position: absolute;
  right: 0;
  width: 15%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 10;
}
