app-element-area {
  display: inline-block;
  width: 15%;
  float: left;
  background-color: #D0D8D9;
}

app-working-field {
  display: inline-block;
  width: 85%;
  float: right;
  background-color: #EBF0F2;
}

app-properties {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #D0D8D9;
  border-left: 1px solid #2C3740;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 20;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
}
