<h1 mat-dialog-title>App Builder</h1>
<div mat-dialog-content>Applications can add, resize, and remove components. You can add components by selecting the
  desired template and dragging it to the workspace.
</div>
<h1 mat-dialog-title>Resize components</h1>
<div mat-dialog-content>At each corner there are elements that make it possible to increase the component</div>
<h1 mat-dialog-title>Component Properties</h1>
<div mat-dialog-content>It is possible to change some properties of components. Each element has different properties.
  Clicking the right mouse button opens a field for changing the properties of the component.
</div>
<h1 mat-dialog-title>Ability to add elements to a container</h1>
<div mat-dialog-content>By creating a container, you can place other objects in it. They will be attached to this
  container, and when the container is moved, all components inside will also move. Components can be detached from the
  container by simply pulling it out
</div>
<h1 mat-dialog-title>Ability to work with the application</h1>
<div mat-dialog-content>To select an object (writing text inside some components, resizing in some cases) you can press
  the left mouse button while holding down the ALT button. In this case, the element will not change its position on the
  field
</div>
<button mat-button [mat-dialog-close]="undefined">Close</button>
