<div class="main-wrapper-info-modal">
  <p class="instruction">{{"infoApp.instructions" | translate}}</p>
  <h1 mat-dialog-title>App Builder</h1>
  <div mat-dialog-content>{{"infoApp.content.aboutApp" | translate}}
  </div>
  <h1 mat-dialog-title>{{"infoApp.header.addComponent" | translate}}</h1>
  <div mat-dialog-content>{{"infoApp.content.addComponent" | translate}}</div>
  <h1 mat-dialog-title>{{"infoApp.header.dragComponent" | translate}}</h1>
  <div mat-dialog-content>{{"infoApp.content.dragComponent" | translate}}
  </div>
  <h1 mat-dialog-title>{{"infoApp.header.resizeComponent" | translate}}</h1>
  <div mat-dialog-content>{{"infoApp.content.resizeComponent" | translate}}</div>
  <h1 mat-dialog-title>{{"infoApp.header.propertiesComponent" | translate}}</h1>
  <div mat-dialog-content>{{"infoApp.content.propertiesComponent" | translate}}
  </div>
  <h1 mat-dialog-title>{{"infoApp.header.addElementInField" | translate}}</h1>
  <div mat-dialog-content>{{"infoApp.content.addElementInField" | translate}}
  </div>
  <button mat-button [mat-dialog-close]="undefined">{{"infoApp.buttonClose" | translate}}</button>
</div>
