.MainWrapper {
  min-height: 100vh;
  border-right: 2px solid black;
}

.ListComponents {
  text-align: center;
}

.ListComponents ul li {
  padding-top: 10%;
}

.ListComponents .container {
  margin-left: auto;
  margin-right: auto;
}
