<div class="MainWrapper">
  <div class="ListComponents">
    <nav class="cl-effect-8">
      <label data-type="app-label" class="sample">{{ 'element-area.Label' | translate }}</label>
      <label data-type="app-input" class="sample">{{ "element-area.Input" | translate }}</label>
      <label data-type="app-button" class="sample">{{ "element-area.Button" | translate }}</label>
      <label data-type="app-container" class="sample">{{ "element-area.Container" | translate }}</label>
      <label data-type="app-textarea" class="sample">{{ "element-area.Textarea" | translate }}</label>
      <label data-type="app-select" class="sample">{{ "element-area.Select" | translate }}</label>
      <label data-type="app-image" class="sample">{{ "element-area.Image" | translate }}</label>
    </nav>
  </div>
</div>


