<div class="MainWrapper">
  <div class="ListComponents">
    <nav class="cl-effect-8">
      <label data-type="app-label" class="sample">Label</label>
      <label data-type="app-input" class="sample">Input</label>
      <label data-type="app-button" class="sample">Button</label>
      <label data-type="app-container" class="sample">Container</label>
      <label data-type="app-textarea" class="sample">Textarea</label>
      <label data-type="app-select" class="sample">Select</label>
      <label data-type="app-image" class="sample">Image</label>
    </nav>
  </div>
  <div class="info">
    <button mat-button (click)="openDialogInfo()"><i class="fa-solid fa-info fa-2x"></i></button>
  </div>
</div>


