.MainWrapper {
  position: relative;
  min-height: 100vh;
  border-right: 1px solid #2C3740;
}

.ListComponents {
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center;
}

nav label {
  position: relative;
  margin: 15px 15px;
  outline: none;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1em;
  text-align: center;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.cl-effect-8 label::before,
.cl-effect-8 label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #354856;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 label::after {
  border-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-7px) translateX(6px);
  -moz-transform: translateY(-7px) translateX(6px);
  transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 label:hover::before,
.cl-effect-8 label:focus::before {
  opacity: 0;
  -webkit-transform: translateY(5px) translateX(-5px);
  -moz-transform: translateY(5px) translateX(-5px);
  transform: translateY(5px) translateX(-5px);
}

.cl-effect-8 label:hover::after,
.cl-effect-8 label:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px) translateX(0px);
  -moz-transform: translateY(0px) translateX(0px);
  transform: translateY(0px) translateX(0px);
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info button {
  border: 1px solid deepskyblue;
  border-radius: 50%;
  margin: 10px;
  padding: 10px 10px;
  transition: 0.3s;
}

.info i {
  padding-bottom: 5px;
}

.info button:hover {
  background-color: deepskyblue;
}
